page-donation {
.list{ margin-bottom: 16px;}
.custom-radio .item .item-inner .input-wrapper .label{ font-size:1.5rem; text-overflow: normal; white-space: normal; word-wrap: break-all;}
.item .radio{ margin-left: 0;}
.donate{margin-top: 1.9rem;}
.error-item .error{ margin-left: 15px; }
}
