page-home {
    .home-banner{
        height:200px;
        //background: url('../assets/img/home-banner-bg.jpg') no-repeat top center;
        background-size: cover;
        position: relative;
            .banner-txt{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                left: 43%;
                p{color:#fff; margin: 0px; font-size:16px}
            }
    }
    .item{
        padding-left:0;
    }
    .item .item-inner .input-wrapper .label{
        display: flex; flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .list-ios > .item-block:first-child {
        padding-left:0;
        border-top:none;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #e6e6e6;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0.55px solid #e6e6e6;
    }
    
}
