<ion-header align-title="center">
  <ion-navbar align-title="center">
    <ion-buttons start>
      <button ion-button start menuToggle color="secondary">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title >
      <img src="assets/img/inner-logo.png" alt="" class="inner-logo">
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only color="secondary">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="home-banner" [ngStyle]="{'background-image':'url('+userDetailsJson?.m_pic_0+')', 'background-position': 'center', 'background-repeat': 'no-repeat','background-size': 'cover'}">
      <div class="banner-txt">
        <p class="font-light">A Unique Way to Grow</p>
        <p class="font-medium text-uppercase mb-5">Cancer Awareness</p>
        <button ion-button class="ml-0">DONATE</button>
      </div>
  </div>

  <ion-grid padding>
    <ion-row>
      <ion-col col-12>
        <h5 class="font-medium text-uppercase mb-10 text-darkgreen">My Donations</h5>
        <ion-list *ngIf="donation?.length > 0">
          <ion-item *ngFor="let d of donation">
            <aside>
                <h4 class="font-medium">Donation By : {{ d.name }}</h4>
                <p>{{ d.date }}</p>
            </aside>
            <span class="text-secondary font-medium">${{ d.donation_price }}</span>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="donation?.length == 0">
            <ion-item>
                <p>There Are No Donations To Display.</p>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
