<!--
  Generated template for the EmailTeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Email Team Members</ion-title>
    <ion-buttons (click)="closeModal()" end>
      <button ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="editfrom" #editForm="ngForm">
    <ion-list>
      <div class="text-field-area">
        <ion-label>Message Subject</ion-label>
        <ion-item>
          <ion-input formControlName="subject" placeholder="Message Subject"></ion-input>
        </ion-item>
        <div class="error-item" no-lines *ngIf="( editfrom.get('subject').hasError('pattern') || editfrom.get('subject').hasError('required') ) && editfrom.get('subject').touched">
          <div class="error" *ngIf="editfrom.get('subject').hasError('required') && editfrom.get('subject').touched">
            Please input your subject
          </div>
        </div>
      </div>

      <div class="text-field-area">
        <ion-label>Message Body</ion-label>
        <ion-item>
          <ion-textarea formControlName="body" placeholder="Message Body"></ion-textarea>
        </ion-item>
        <div class="error-item" no-lines *ngIf="( editfrom.get('body').hasError('pattern') || editfrom.get('body').hasError('required') ) && editfrom.get('body').touched">
          <div class="error" *ngIf="editfrom.get('body').hasError('required') && editfrom.get('body').touched">
            Please input your message body
          </div>
        </div>
      </div>
      <div padding>
        <button class="font-medium" ion-button color="primary" block [disabled]="!editForm.valid" (click)="SendMail(editfrom.value)">Send</button>
      </div>
    </ion-list>
  </form>
</ion-content>
