<ion-menu [content]="content">
    <ion-content >
        <ion-list class="left-menu-top">
            <ion-item>
                <ion-avatar item-start>
                    <img src="{{ loggeduser_details?.m_profile_pic }}" alt="">
                </ion-avatar>
                <h2>{{ loggeduser_details?.m_full_name }}</h2>
                <p class="font-12">
                    <ion-icon name="pin"></ion-icon>{{ '  ' + loggeduser_details?.m_city + ',' + loggeduser_details?.m_country }}
                </p>
            </ion-item>
        </ion-list>

        <ion-content *ngIf="isLoggedin == true">
            <ion-list>
              <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <img [src]="p.image" alt=""> {{p.title}}
              </button>
            </ion-list>
          </ion-content>

        <ion-list class="left-menu-area">
            <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon [name]="p.icon" item-start></ion-icon>{{p.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>

