<!--
  Generated template for the LeaderboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-navbar>
  <ion-toolbar class="toolbar top-seg-bar" no-border-top="" style="">
      <div>
        <ion-segment [(ngModel)]="switch">
          <ion-segment-button value="member">
             Member Leaderboard
          </ion-segment-button>
          <ion-segment-button value="team">
             Team Leaderboard
          </ion-segment-button>
          <ion-segment-button value="organization">
             Organization Leaderboard
          </ion-segment-button>
        </ion-segment>
      </div>
  </ion-toolbar>
</ion-header>


<ion-content class="content" >
    <div [ngSwitch]="switch">
      <ion-list *ngSwitchCase="'member'" ngSelected="selected">
        <ion-row class="seg-a-bar">
          <ion-col col-8 class="pt-0 pb-0">
            <ion-item class="member">
              <h3>Member</h3>
            </ion-item>
          </ion-col>
          <ion-col col-4 class="pt-0 pb-0">
            <ion-item>
              <h3>Raised</h3>
            </ion-item>
          </ion-col>
        </ion-row>
        <div class="mem-lead-con" *ngFor="let m of member_arr">
          <ion-row>
            <ion-col col-8 class="pl-0">
              <ion-item>
                <ion-avatar item-start>
                  <img src="{{ m.m_profile_pic }}">
                </ion-avatar>
                <h2 class="fullname">{{ m.m_full_name }}</h2>               
              </ion-item>
            </ion-col>
            <ion-col col-4 class="price-area">
              <div class="price">${{ m.m_total_raised }}</div>
            </ion-col>
          </ion-row>          
        </div>
      </ion-list>
    
      <ion-list *ngSwitchCase="'team'" ngSelected="selected">
        <ion-row class="seg-a-bar">
            <ion-col col-8 class="pt-0 pb-0">
              <ion-item class="member">
                <h3>Team</h3>
              </ion-item>
            </ion-col>
            <ion-col col-4 class="pt-0 pb-0">
              <ion-item>
                <h3>Raised</h3>
              </ion-item>
            </ion-col>
        </ion-row>
        <div class="mem-lead-con" *ngFor="let t of team_arr">
          <ion-row>
            <ion-col col-8 class="pl-0">
              <ion-item>
                <h2 class="fullname">{{ t.team_name }}</h2>               
              </ion-item>
            </ion-col>
            <ion-col col-4 class="price-area">
              <div class="price">${{ t.team_price }}</div>
            </ion-col>
          </ion-row>          
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'organization'" ngSelected="selected">
        <ion-row class="seg-a-bar">
            <ion-col col-8 class="pt-0 pb-0">
              <ion-item class="member">
                <h3>Organization</h3>
              </ion-item>
            </ion-col>
            <ion-col col-4 class="pt-0 pb-0">
              <ion-item>
                <h3>Raised</h3>
              </ion-item>
            </ion-col>
        </ion-row>  
        <div class="mem-lead-con" *ngFor="let o of org_arr">
            <ion-row>
              <ion-col col-8 class="pl-0">
                <ion-item>
                  <h2 class="fullname">{{ o.org_name }}</h2>               
                </ion-item>
              </ion-col>
              <ion-col col-4 class="price-area">
                <div class="price">${{ o.org_price }}</div>
              </ion-col>
            </ion-row>          
          </div>
      </ion-list>
    </div>
</ion-content>
