page-after-skip {
    .item .checkbox{ margin-right: 8px !important;}
    .checkbox .checkbox-icon{ border: 1px solid #d2d2d2 !important;}
    .checkbox .checkbox-checked{background-color: #325fbe !important; border: 1px solid #325fbe !important;}
    .remember-me{ font-size: 1.4rem; color: #000000; font-weight: 400;}
    .log-reg-container .item .item-inner{border: initial !important;margin-bottom: 0px !important;}

    h5{color: #00505f;display: block;text-align: left;border-bottom: 1px solid #ddd;padding-bottom: 5px;font-size: 16px;}
}
